@model SD.AOP.LogViewer.Models.ExceptionLogModel
@{
    ViewBag.Title = "异常日志明细";
}

@section header{
    <link type="text/css" href="~/css/Common/Form.css" rel="stylesheet" />
    <link type="text/css" href="~/css/Common/PlainDetail.css" rel="stylesheet" />
}
<div id="dvMsg">
    <div style="width: 100%; height: 100%; float: left; margin: 0;">
        <div class="easyui-panel" style="width: 100%; height: 550px; padding: 10px;">
            <table id="tbDetail">
                <tr>
                    <td class="tdTitle">命名空间：</td>
                    <td class="tdContent">
                        <div class="exText">@Model.Namespace</div>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">类名：</td>
                    <td class="tdContent">
                        <div class="exText">@Model.ClassName</div>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">方法名：</td>
                    <td class="tdContent">
                        <div class="exText">@Model.MethodName</div>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">异常类型：</td>
                    <td class="tdContent">
                        <div class="exText">@Model.ExceptionType</div>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">方法参数：</td>
                    <td class="tdContent">
                        <table class="easyui-datagrid" style="width: 860px;" data-options="data:@Model.ArgsJson,method:'get'">
                            <thead>
                                <tr>
                                    <th field="Name" width="210">参数名</th>
                                    <th field="Type" width="400">参数类型</th>
                                    <th field="Value" width="215">参数值</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">异常消息：</td>
                    <td class="tdContent">@Model.ExceptionMessage</td>
                </tr>
                <tr>
                    <td class="tdTitle">异常明细：</td>
                    <td class="tdContent">@Model.ExceptionInfo</td>
                </tr>
                <tr>
                    <td class="tdTitle">内部异常：</td>
                    <td class="tdContent">
                        <div class="exText">@Html.Raw(string.IsNullOrWhiteSpace(Model.InnerException) ? string.Empty : Model.InnerException.Replace(@"\r\n", "<hr />"))</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
